<footer class="footer">
    <div class="container footer-container">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="/" class="navbar-logo" style="text-decoration: none;">
                <img src="./assets/images/Logo.png" alt="Travitrade Logo" class="logo-img">
            </a>
        </div>

        <!-- Enlaces Centrales -->
        <ul class="footer-links">
            <li><a href="#terminos" class="footer-link">Términos</a></li>
            <li><a href="#privacidad" class="footer-link">Privacidad</a></li>
            <li><a href="#contacto" class="footer-link">Contacto</a></li>
            <li><a href="#instagram" class="footer-link">Instagram</a></li>
        </ul>

        <!-- Copyright -->
        <div class="footer-copyright">
            &copy; 2026 Travitrade. Todos los derechos reservados.
        </div>
    </div>
</footer>
